// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .container {
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .padding-section {
    padding: 2.5rem 0 !important;
  }

  .our-service-padding {
    padding-bottom: 2.5rem !important;
  }

  //   navigation bar //
  .nav-middle,
  .nav-right {
    display: none !important;
  }

  .hamSec {
    display: block !important;
    width: 16%;
  }

  .nav-section {
    padding: 2rem 1.25rem;
  }

  .nav-layou {
    margin-bottom: 0px !important;
  }

  //    hearder //
  .head-h1 {
    h1 {
      font-size: 13vw !important;
    }
  }

  .hero-img img {
    width: 95%;
  }

  //   recent properties //
  .rp-card-count,
  .p-cat-card-count {
    grid-template-columns: 1fr 1fr !important;
  }

  // about us //
  .about-info {
    gap: 2rem;
  }

  .about-left-count,
  .about-right-count {
    width: 100%;
  }

  // property categories //
  .p-cat-heading {
    width: 75%;

    h2 {
      font-size: 2.5rem;
    }
  }

  .p-cat-card-count {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .prop-cat-card {
    width: 95%;
    margin: 0 auto;
  }

  //  sone number of success //
  .number-sec-main-count {
    gap: 2rem;
    justify-content: center;
  }

  .ns-left-postion {
    width: 100% !important;
    height: 0% !important;
    position: static;
  }

  .nsec-left-box {
    width: 100%;
  }

  .ns-left-count {
    align-items: center;
    justify-content: center !important;
  }

  .ns-text {
    width: 90%;
    text-align: center;
  }

  .nsec-right-box {
    width: 60% !important;
    justify-content: center;
    gap: 1.5rem;
  }

  //   our Process //
  .op-img-right {
    display: none !important;
  }

  .our-p-heading {
    width: 100% !important;
    text-align: center;
  }

  .op-info-left {
    width: 100% !important;
  }

  .op-step {
    height: auto !important;
  }

  .op-s-img-n1 {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  //   our agent //
  .agent-card {
    width: 290px;
    left: 2490px;

    img {
      width: 100%;
    }
  }

  //   testimonial //
  .testimonial-card {
    width: auto;
  }

  .btn-sec {
    width: 35%;
  }

  .card-show {
    padding-bottom: 0;
  }

  //   blog and article //
  .a-top-right {
    width: 20%;
  }

  .article-btm-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .article-card {
    width: 94% !important;
    margin: 0 auto;
  }

  .art-b-dt {
    width: 85% !important;
  }

  // FAQ //
  .faq-main-count {
    gap: 2rem;
  }

  .sticky-position {
    width: 100% !important;
    height: auto;
    position: static;
  }

  .faq-left {
    width: 100% !important;
    height: auto;
  }

  .faq-right {
    width: 100% !important;
  }

  .faq-heading {
    .ns-text {
      width: 70%;

      h2 {
        text-align: left;
        font-size: 2.5rem;
      }
    }
  }

  //  footer //
  .foot-top {
    flex-direction: column !important;
  }

  .foot-top-left,
  .ftf-form,
  .foot-top-right,
  .foot-btm-left {
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }

  .foot-name,
  .foot-email {
    width: 100%;
  }

  .foot-para p {
    color: var(--white-color);
  }

  .foot-btm-right {
    width: 100%;
  }

  .foot-bottom {
    gap: 2rem;
  }

  .foot-para {
    width: 50%;
  }

  // html page 2 about us //
  .values-main-count {
    width: 100%;
    gap: 2rem;
    justify-content: center;
  }

  .ov-left-box {
    width: 100% !important;
    height: fit-content;
  }

  .ov-left-postion {
    width: 100% !important;
    height: fit-content;
    position: static;
  }

  .value-right-box {
    width: 100% !important;

    .ns-card {
      width: 95% !important;
    }
  }

  .about-sec-left-count {
    width: 70% !important;
  }

  //html page 4 our Services //
  .our-services-main-count {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .servicCard {
    aspect-ratio: 4/5 !important;
  }

  // html page 5 Realtor //
  .real-head-h1 {
    h1 {
      font-size: 3.75rem !important;
    }
  }

  .realtor-form-count {
    width: 80% !important;
  }

  // // buttons // 
  // .rp-btn {
  //   padding: .875rem 0.25rem;
  // }

}