* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html,body {
  width: 100vw;
  overflow-x: hidden;
  // position: relative;
}

main {
  overflow-x: hidden;
}

.container {
  @include flex(row, center, center);
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.section-spacing {
  padding: 0 1.25rem;
}

.b {
  border: 1px solid black;
}

.hide {
  display: none;
}
.show {
  display: block;
}
